*{
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: "Albert Sans", sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    transition: background-color 2s ease-in-out;
}

#output{
    mix-blend-mode: multiply;
}

a{
    text-decoration: none;
    color: #858585;
}
a:hover{
    text-decoration: underline;
    color: #000;
}

p{
    font-weight: 300;
}

.hover-zoom:hover {
    transform: scale(1.15);
}

#projector:hover{
    cursor: url('./img/cursor.png') 0 0, auto;
}



@media(max-width:576px){
    .container{
        padding: 0 40px 0 40px;
    }
}