*{
    margin: 0;
    padding: 0;
}
  
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: "Albert Sans", sans-serif;
    font-size: 14px;
}


/* div con degradé para difuminar el corte en movil 
#top{
    display: none;
}
.bg-linear {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(#ffffff, #ffffff00);
    z-index: 5;
}
*/
#fondo-color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    display: none;
    z-index: 3;
    mix-blend-mode: multiply;
    pointer-events: none;
    transition: background-color 1s ease-in-out;
}

a {
    text-decoration: none;
    color: #000;
    &:hover{
        text-decoration: underline;
    }
}

p {
    font-weight: 300;
}

.cursor {
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes anim {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

#toggle {
    scroll-margin-top: 20px; /* Ajusta el margen del scroll */
}
#tabla {
    font-weight: 300;
}
.margCall {
    margin-bottom: 40px;
}

.hover, .hover img {
  transition: all 0.5s ease;
}
.hover:hover {
    img{
        transform: scale(1.15);
    }
    border-color:#000;
    transform: translate(0,-5px);
}

#projector:hover {
    cursor: url('./img/cursor.png') 0 0, auto;
}

#toggle:hover, #skillsToggle:hover {
    cursor: pointer;
    text-decoration: underline;
}


.form-check-input:checked {
    background-color: #000 !important;
    border-color: #000 !important;
}
.form-check-input:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
    filter: grayscale(100%);
}

.focus-custom {
    border-color: #CBCCCD;
}
.focus-custom:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}
#categoryFilter {
    scroll-margin-top: 30px; /* Ajusta el margen del scroll */
    cursor: pointer;
    &:hover{
        border-color: #000;
    }
    transition: all 0.5s ease;
}

video::-webkit-media-controls-presentation-mode-button {
    display: none !important;
}

/* ACORDEON -------------------------------------------------------------------*/
.accordion-custom {
    transition: all 0.5s ease;
}
/* Hover states */
.accordion-custom.collapsed:hover {
    font-weight: 500;
    /* padding: 30px 20px 30px 20px; */
    background-color: #f1f1f1 !important;
}
/* Botón cuando está CERRADO (collapsed) */
.accordion-custom.collapsed {
    background-color: #ffffff00 !important;
}

/* Botón cuando está ABIERTO (no collapsed) */
.accordion-custom:not(.collapsed) {
    background-color: #f9f9f9 !important;
    color: #000 !important;
    font-weight: 500;
}
.accordion-custom:not(.collapsed)::after {
    filter: grayscale(100%);
}
.accordion-custom:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

@media(max-width:576px) {
    .container {
        padding: 0 40px 0 40px;
    }
    .bg-linear {
        display:block;
    }
    #txtCall {
         width: 100%;
    }
}

/* Pantallas medianas (entre móvil y desktop) */
@media (max-width: 767px) {
  #txtCall {
    width: 100%; /* O el valor que necesites para pantallas medianas */
  }
}

/* Pantallas grandes */
@media (min-width: 768px) {
  #txtCall {
    width: 60%;
  }
}

/* Estilos para dispositivos grandes (lg y superiores)
@media (min-width: 992px) {
    .multi-column-text {
      column-count: 2;
      column-gap: 30px;
    }
}
  
  Para dispositivos más pequeños, una sola columna 
  @media (max-width: 991px) {
    .multi-column-text {
      column-count: 1;
    }
}
    */