*{
    margin: 0;
    padding: 0;
}
  
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: "Albert Sans", sans-serif;
    font-size: 14px;
}

#fondo-color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    display: none;
    z-index: 3;
    mix-blend-mode: multiply;
    pointer-events: none;
    transition: background-color 1s ease-in-out;
  }

a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
    color: #000;
}

p{
    font-weight: 300;
}


#toggle {
    scroll-margin-top: 20px; /* Ajusta el margen del scroll */
}
#tabla{
    font-weight: 300;
}

.hover-zoom:hover {
    transform: scale(1.15);
}

#projector:hover{
    cursor: url('./img/cursor.png') 0 0, auto;
}

#toggle:hover, #skillsToggle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.form-check-input:checked {
    background-color: #000 !important;
    border-color: #000 !important;
}
.form-check-input:focus{
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

.focus-custom{
    border-color: #CBCCCD;
}
.focus-custom:focus{
    outline: none;
    box-shadow: none;
    border-color: inherit;
}
#categoryFilter {
    scroll-margin-top: 30px; /* Ajusta el margen del scroll */
}

video::-webkit-media-controls-presentation-mode-button {
    display: none !important;
}

@media(max-width:576px){
    .container{
        padding: 0 40px 0 40px;
    }
}