*{
    margin: 0;
    padding: 0;
}
  
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #000;
}
body{
    padding-top: 30px;
    font-family: "Albert Sans", sans-serif;
    font-size: 14px;
}

.text-blog:hover{
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #FFF;
    &:hover{
        text-decoration: underline;
    }
}

p {
    font-weight: 300;
}
.nav-custom{
    background-color: #000000eb;
}


.cursor {
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes anim {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}


@media(max-width:576px) {
    .container {
        padding: 0 40px 0 40px;
    }
}

/* Call to action */
@media (min-width: 992px) {
  #txtCall {
    width: 60%;
  }
}
.btn-wasap{
    transition: background-color 0.5s ease;
    &:hover{
        background-color: #25D366;
        border-color: #25D366;
        color: #FFF;
    }
}
